*{
    font-size: 50px;
    color: rgb(182, 182, 182);
    
}
body {
    background-color: #02111b;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
    
header {
    color :aquamarine;
    height: 25%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    }

#Grille {
    display: grid;
    grid-template-columns:1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: (auto , 400px);
    grid-gap: 40px;
    
}

#Picture {
    text-align: center;
    grid-column: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
}

#Profil {

    border-radius: 50%;
    max-width: 400px;
    width: 80%;
    box-shadow: 10px 10px 0px #141618;
    
}

#General {
    background-color: #588157;
    grid-column: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 10px 10px 0px #141618;

}

.Meta {
    margin-block-start: 0;
    margin-block-end: 1em;
    color: rgba(185, 184, 184, 0.623);
    list-style: none;
}

.Info {
    margin-block-start: 0;
    margin-block-end: 0;
    list-style :none;
}

#Experience {
    background-color: #5d737e;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow: 10px 10px 0px #141618;
   
}

#Degree {  
    background-color: #3f4045;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow: 10px 10px 0px #141618;
}

#Outside { 
    background-color: #c49e85;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow: 10px 10px 0px #141618;
}

h1 h2 h3 h4 {
    font-weight: bold;
}

.Icone {
    height: 70px;
    width: auto;
    vertical-align:-30%;
}

.Logo {
    height: 70px;
    width: auto;
    vertical-align:-30%;
}